* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
}

.site-header {
	text-align: center;
}

.site-main {
}

.container {
	max-width: 1150px;
	margin: 0 auto;
}

#available-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card-img-top {
	width: 100%;
	max-height: 216px;
	object-fit: contain;
}
